#posters-container{
    justify-content: center;
    /* display: flex;
    flex-wrap: wrap; */


    display: grid !important;
    grid-template-columns: auto auto auto auto auto auto;


    margin-top: 20px;
    margin-bottom: 20px;
   
}


.loader{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-img{
    width: 40px;
    height: 40px;    
}

